<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSNiB23vh3Vc3Rjx4W1kgHDezxi2Ten285vXri4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGPw8VKLNYvjEPgqLbhZQwnD21Kri8ojgakKfAAVb/Sp" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Questions</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>-->
</head>
<body>
<a href="?lang=en">en</a>
<a href="?lang=ru">ru</a>
<div id="all-games">
    <h2 th:text="#{title.all.questions}"></h2>
</div>
<div id="content">

    <form th:action="@{/all-games}" method="post" modelAttribute="chooseGame" th:object="${gameDto}">
        <select th:field="*{teamScore}">
            <option th:each="game : ${games}"
                    th:value="${game.id}"
                    th:text="${game.id}">
            </option>
        </select>
        <button type="submit" class="btn btn-default">Choose game</button>
    </form>

    <tr th:each="question: ${questions}">
        <td><span th:text="${question.title}">Title</span></td>
        <td><span th:text="${question.description}">Title</span></td>
        <td><span th:text="${question.answer}">Title</span></td>
        <td><span th:text="${teamAnswer}">Title</span></td>
    </tr>
</div>
</body>

</html>