<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <a href="?lang=en">en</a>
    <a href="?lang=ru">ru</a>
    <h2 th:text="#{hello}"></h2>


    <form th:action="@{/answer}" method="post" modelAttribute="chooseTeam" th:object="${gameDto}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

        <tr th:each="question: ${questions}">
            <td><span th:text="${question.title}">Title</span></td>
            <td><span th:text="${question.description}">Title</span></td>
            <td><span th:text="${question.answer}">Title</span></td>
            <td><span th:text="${teamAnswer}">Title</span></td>
        </tr>
        <button type="submit" class="btn btn-default" name="right" value="true">Right</button>
        <button type="submit" class="btn btn-default" name="wrong" value="false">Wrong</button>
        <a href="/game" class="button">Play game</a>
    </form>

</div>
</body>
</html>